@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  height: 100vh; 
  overflow: hidden;

  background: #C5AFBE;
  background: -moz-linear-gradient(45deg, #C5AFBE 0%, #51087E 40%, #26043C 100%);
  background: -webkit-linear-gradient(45deg, #C5AFBE 0%, #51087E 40%, #26043C 100%);
  background: linear-gradient(45deg, #C5AFBE 0%, #51087E 40%, #26043C 100%);

}

.img-inicio
{
  background-image: url('./img/imagen.png');
  background-size: cover;
  background-position: center;
  
 
height: 100vh; /* Set the height of the section to 100% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}