@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.fondo {
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Cambié height a min-height para asegurar que ocupe al menos el 100% del viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}